doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      #download
    include partials/footer
    script(type='module', src='app/download.js')
