doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      .topbar
        h1 NyShare
      .alert.alert-danger
        strong #{error}
      p
        a.btn.btn-primary(title='New Upload' href=uploadAppPath) New Upload
    include partials/footer
