doctype html
html(lang='en')
  head
    include partials/head
    include partials/head_custom
  body
    .container
      #upload
    include partials/footer
    script PSITRANSFER_UPLOAD_PATH = '#{uploadAppPath}';
    script(type='module', src='app/upload.js')
