footer.footer
  .dev-banner
    | #{appVersion} &bull; #[a(href='https://github.com/nikolainyegaard/nyshare' target='_blank') GitHub] &bull; powered by #[a(href='https://github.com/psi-4ward/psitransfer' target='_blank') PsiTransfer]
