base(href=baseUrl)
meta(charset='utf-8')
title nyshare
link(href='assets/favicon.ico' rel='icon' type='image/x-icon')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='robots' content='noindex,nofollow')
link(href='assets/styles.css' rel='stylesheet')
